name: Build Image

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build Cache
      id: build-cache
      uses: actions/cache@v2
      with:
        path: cache
        key: ${{ runner.os }}-build-cache

    - run: |
        # sudo modprobe binfmt_misc
        # sudo mount binfmt_misc -t binfmt_misc /proc/sys/fs/binfmt_misc

        sudo apt update
        sudo apt install -y qemu-user qemu-user-binfmt

    - run: ARCH=armhf FLAVOR=rpi ./docker-build.sh
    - run: ARCH=aarch64 FLAVOR=rpi ./docker-build.sh
    - run: FLAVOR=virt ./docker-build.sh
    - run: FLAVOR=lts ./docker-build.sh

    - run: ls -hl dist

    # attach multi file https://github.com/github/hub/issues/1769#issuecomment-397271041
    - env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        sudo snap install hub --classic
        build_date=$(date +%Y%m%d)
        build_number=$[$(git tag | grep $build_date | wc -l) + 1]
        tag="$build_date.$build_number"
        
        assets=()
        for f in dist/*; do [ -f "$f" ] && assets+=(-a "$f"); done

        hub release create $tag -m "$tag" "${assets[@]}"
